In [2]:
#import pandas 
import pandas as pd

**Open all CSV files as dataframes to be able to view and merge later**

In [3]:
df_allergies = pd.read_csv("allergies.csv")

In [4]:
df_care = pd.read_csv("careplans.csv")

In [5]:
df_conditions = pd.read_csv("conditions.csv")

In [6]:
df_encounters = pd.read_csv("encounters.csv")

In [7]:
df_imaging = pd.read_csv("imaging_studies.csv")

In [8]:
df_immunizations = pd.read_csv("immunizations.csv")

In [10]:
df_medications = pd.read_csv("medications.csv")

In [11]:
df_observations = pd.read_csv("observations.csv")

In [12]:
df_organizations = pd.read_csv("organizations.csv")

In [13]:
df_patients = pd.read_csv("patients.csv")

In [31]:
df_payert = pd.read_csv("payer_transitions.csv")

In [15]:
df_payers= pd.read_csv("payers.csv")

In [16]:
df_procedures = pd.read_csv("procedures.csv")

In [17]:
df_providers = pd.read_csv("providers.csv")

**Explore files to find merging points**

In [19]:
df_allergies.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2010-04-17,NaN,57c9b98b-35a2-4360-9a20-9958eaaeee7c,ad862e27-1e0d-43ef-88ad-0ea50526ce48,300916003,Latex allergy
1,2010-04-17,NaN,57c9b98b-35a2-4360-9a20-9958eaaeee7c,ad862e27-1e0d-43ef-88ad-0ea50526ce48,424213003,Allergy to bee venom
2,2010-04-17,NaN,57c9b98b-35a2-4360-9a20-9958eaaeee7c,ad862e27-1e0d-43ef-88ad-0ea50526ce48,419474003,Allergy to mould
3,2010-04-17,NaN,57c9b98b-35a2-4360-9a20-9958eaaeee7c,ad862e27-1e0d-43ef-88ad-0ea50526ce48,232350006,House dust mite allergy
4,2010-04-17,NaN,57c9b98b-35a2-4360-9a20-9958eaaeee7c,ad862e27-1e0d-43ef-88ad-0ea50526ce48,232347008,Dander (animal) allergy

In [20]:
df_care.head()

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,d6787192-da1d-48ae-a051-89216c95d864,1995-08-18,NaN,3603cd65-53a3-424b-bc82-76204326510d,61f6867a-9e58-48e6-87d0-6d9495a81a79,443402002,Lifestyle education regarding hypertension,59621000.0,Hypertension
1,336f5314-bed2-487a-bb08-3d8e364fbe7f,1998-10-19,2009-10-26,bd512b17-9e68-4b0e-8c5b-980007ecdee1,e0213a36-1b17-45c9-a233-31e1042e7b28,386522008,Overactivity/inattention behavior management,192127007.0,Child attention deficit disorder
2,112010d4-0982-4aeb-9753-2675fa40d291,2010-02-12,2011-09-09,3603cd65-53a3-424b-bc82-76204326510d,ae97dfe0-c619-44c1-a687-f215d7fac984,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
3,19a665ed-215b-4bc6-bec6-9cedb6e5c2e5,2009-12-14,NaN,bd512b17-9e68-4b0e-8c5b-980007ecdee1,31bd0967-a973-4eaf-bf40-5ca6eb341eb7,698360004,Diabetes self management plan,15777000.0,Prediabetes
4,3ef8ba2a-4866-45e6-ad76-6ee515525e78,2014-09-12,NaN,3603cd65-53a3-424b-bc82-76204326510d,88ed9c64-9ab0-46da-9a10-4f896bd57b92,698360004,Diabetes self management plan,15777000.0,Prediabetes

In [21]:
df_conditions.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2016-04-14,2016-04-28,d171d808-1f31-4ad3-aba5-e03a2fa921c7,0b4374e8-838d-4289-b491-f44d51360790,444814009,Viral sinusitis (disorder)
1,1995-08-18,NaN,3603cd65-53a3-424b-bc82-76204326510d,61f6867a-9e58-48e6-87d0-6d9495a81a79,59621000,Hypertension
2,2010-02-12,2010-02-19,3603cd65-53a3-424b-bc82-76204326510d,ae97dfe0-c619-44c1-a687-f215d7fac984,10509002,Acute bronchitis (disorder)
3,1998-10-19,2009-10-26,bd512b17-9e68-4b0e-8c5b-980007ecdee1,e0213a36-1b17-45c9-a233-31e1042e7b28,192127007,Child attention deficit disorder
4,2009-12-14,NaN,bd512b17-9e68-4b0e-8c5b-980007ecdee1,31bd0967-a973-4eaf-bf40-5ca6eb341eb7,15777000,Prediabetes

In [22]:
df_encounters.head()

,Id,START,STOP,PATIENT,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,1c97b103-d387-4804-857d-5e5b719edb65,2011-06-12T10:25:43Z,2011-06-12T10:40:43Z,d171d808-1f31-4ad3-aba5-e03a2fa921c7,6edd4924-266f-3c01-b2ca-a1345cfb12e3,d47b3510-2895-3b70-9897-342d681c769d,wellness,162673000,General examination of patient (procedure),129.16,129.16,129.16,NaN,NaN
1,64efa414-238b-417f-8e8b-10f0949b6f06,2014-06-15T10:25:43Z,2014-06-15T10:40:43Z,d171d808-1f31-4ad3-aba5-e03a2fa921c7,6edd4924-266f-3c01-b2ca-a1345cfb12e3,d47b3510-2895-3b70-9897-342d681c769d,wellness,162673000,General examination of patient (procedure),129.16,129.16,129.16,NaN,NaN
2,0b4374e8-838d-4289-b491-f44d51360790,2016-04-14T10:25:43Z,2016-04-14T10:40:43Z,d171d808-1f31-4ad3-aba5-e03a2fa921c7,4861d01f-019c-3dac-a153-8334e50919f9,d47b3510-2895-3b70-9897-342d681c769d,ambulatory,185345009,Encounter for symptom,129.16,129.16,49.16,444814009.0,Viral sinusitis (disorder)
3,b86c6047-c25b-4b9c-90df-5712852902aa,2017-06-18T10:25:43Z,2017-06-18T10:55:43Z,d171d808-1f31-4ad3-aba5-e03a2fa921c7,6edd4924-266f-3c01-b2ca-a1345cfb12e3,d47b3510-2895-3b70-9897-342d681c769d,wellness,162673000,General examination of patient (procedure),129.16,129.16,129.16,NaN,NaN
4,61f6867a-9e58-48e6-87d0-6d9495a81a79,1995-08-18T11:57:51Z,1995-08-18T12:12:51Z,3603cd65-53a3-424b-bc82-76204326510d,dd43b798-6c99-3cdb-bd19-65f1cc2a370d,d47b3510-2895-3b70-9897-342d681c769d,wellness,162673000,General examination of patient (procedure),129.16,129.16,49.16,NaN,NaN

In [23]:
df_imaging.head()

,Id,DATE,PATIENT,ENCOUNTER,BODYSITE_CODE,BODYSITE_DESCRIPTION,MODALITY_CODE,MODALITY_DESCRIPTION,SOP_CODE,SOP_DESCRIPTION
0,656b200f-8da4-4872-8173-13f6485c27d5,2009-07-30,a43dfba3-ed96-4663-8beb-18a06f5ab72c,d95657af-aa9e-4f00-a74f-3a305d7c6b7d,51185008,Chest,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
1,657f2454-0bcc-49db-b3f6-34c8e68811d4,2013-11-17,ba3fcb7a-6d12-4f97-9358-5cdba21d15d3,5e8b5988-c442-47f2-9334-18dd5ab4b583,8205005,Wrist,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
2,a2746e41-959f-404c-ab42-0fb5126db5d8,2012-11-06,ced2c262-2431-4885-90b3-d5c5b776b97e,4b8a45da-cf2a-4334-b040-b9087bcd715b,51185008,Chest,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
3,def454e2-6ff1-4207-80ca-7766adf2c484,2017-04-11,25bd6cc0-bf0f-4888-99ca-08671df4b401,932c610b-be89-4f56-b308-4edcd2414c69,72696002,Knee,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
4,3c1c90a1-2ebc-450b-9687-04b0664d431c,2018-10-10,2c405456-ee6d-475c-b0fe-e8675589845c,47d69725-3780-4c6b-8b51-6fb2590a27b0,51185008,Thoracic structure (body structure),CT,Computed Tomography,1.2.840.10008.5.1.4.1.1.2,CT Image Storage

In [24]:
df_immunizations.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST
0,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,140,Influenza seasonal injectable preservative ...,140.52
1,2014-06-15,d171d808-1f31-4ad3-aba5-e03a2fa921c7,64efa414-238b-417f-8e8b-10f0949b6f06,140,Influenza seasonal injectable preservative ...,140.52
2,2014-06-15,d171d808-1f31-4ad3-aba5-e03a2fa921c7,64efa414-238b-417f-8e8b-10f0949b6f06,113,Td (adult) preservative free,140.52
3,2017-06-18,d171d808-1f31-4ad3-aba5-e03a2fa921c7,b86c6047-c25b-4b9c-90df-5712852902aa,140,Influenza seasonal injectable preservative ...,140.52
4,2010-02-19,3603cd65-53a3-424b-bc82-76204326510d,0b5e18c0-edb6-4b47-9ab2-965f9725ce99,140,Influenza seasonal injectable preservative ...,140.52

In [25]:
df_medications.head()

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,1995-11-16,NaN,3603cd65-53a3-424b-bc82-76204326510d,d47b3510-2895-3b70-9897-342d681c769d,f5ddf34a-85c6-4f03-9c82-34e25fde945d,999969,Amlodipine 5 MG / Hydrochlorothiazide 12.5 MG ...,263.49,0.0,290,76412.10,59621000.0,Hypertension
1,2010-02-12,2010-02-19,3603cd65-53a3-424b-bc82-76204326510d,d47b3510-2895-3b70-9897-342d681c769d,ae97dfe0-c619-44c1-a687-f215d7fac984,313782,Acetaminophen 325 MG Oral Tablet,8.31,0.0,1,8.31,10509002.0,Acute bronchitis (disorder)
2,2012-07-08,2012-07-22,3603cd65-53a3-424b-bc82-76204326510d,d47b3510-2895-3b70-9897-342d681c769d,7616a2fe-0ddc-44b4-84ae-1bca998b1c45,562251,Amoxicillin 250 MG / Clavulanate 125 MG Oral T...,108.17,0.0,1,108.17,444814009.0,Viral sinusitis (disorder)
3,2011-03-26,2011-04-09,21dd496c-2fec-4c9c-a0fe-c11ad5b2cdea,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,86d22444-38b4-4481-bc31-8a509a56118b,309097,Cefuroxime 250 MG Oral Tablet,163.15,0.0,1,163.15,NaN,NaN
4,2011-03-26,2011-04-09,21dd496c-2fec-4c9c-a0fe-c11ad5b2cdea,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,86d22444-38b4-4481-bc31-8a509a56118b,198405,Ibuprofen 100 MG Oral Tablet,6.13,0.0,1,6.13,NaN,NaN

In [26]:
df_observations.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,8302-2,Body Height,177.2,cm,numeric
1,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,4.0,{score},numeric
2,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,29463-7,Body Weight,79.5,kg,numeric
3,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,39156-5,Body Mass Index,25.3,kg/m2,numeric
4,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,8462-4,Diastolic Blood Pressure,78.1,mm[Hg],numeric

In [27]:
df_organizations.head()

,Id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON,PHONE,REVENUE,UTILIZATION
0,ef58ea08-d883-3957-8300-150554edc8fb,HEALTHALLIANCE HOSPITALS INC,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,9784662000,60266.05,478
1,69176529-fd1f-3b3f-abce-a0a3626769eb,MOUNT AUBURN HOSPITAL,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,6174923500,151453.01,1199
2,5e765f2b-e908-3888-9fc7-df2cb87beb58,STURDY MEMORIAL HOSPITAL,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,5082225200,170827.01,1348
3,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,LAWRENCE GENERAL HOSPITAL,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,9786834000,241322.46,1923
4,e002090d-4e92-300e-b41e-7d1f21dee4c6,CAMBRIDGE HEALTH ALLIANCE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,6176652300,137374.57,1098

In [28]:
df_patients.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,La Paz Baja California MX,552 Rippin Port,Revere,Massachusetts,Suffolk County,2151.0,42.493847,-70.928585,748893.99,2679.68
1,3603cd65-53a3-424b-bc82-76204326510d,1977-06-24,NaN,999-62-4132,S99987902,X33240404X,Mr.,Guillermo498,Trantow673,NaN,...,Southbridge Massachusetts US,1027 Satterfield Spur Unit 67,Richmond,Massachusetts,Berkshire County,NaN,42.390136,-73.324373,870371.41,5316.00
2,bd512b17-9e68-4b0e-8c5b-980007ecdee1,1991-10-21,NaN,999-65-7753,S99933589,X60093276X,Mr.,Hernán834,Ojeda263,NaN,...,Marigot Saint Andrew Parish DM,257 Bradtke Mill Unit 35,Newton,Massachusetts,Middlesex County,2458.0,42.419939,-71.128108,607565.78,2855.62
3,21dd496c-2fec-4c9c-a0fe-c11ad5b2cdea,2006-12-17,NaN,999-72-6694,NaN,NaN,NaN,Francisco472,Prosacco716,NaN,...,Funchal Madeira PT,729 Nienow Gateway,Townsend,Massachusetts,Middlesex County,1469.0,42.698664,-71.614920,323891.14,2919.84
4,ab3533aa-8230-4608-9f06-4f4673123620,1977-10-14,NaN,999-85-1774,S99964476,X82206403X,Mrs.,Elizabet136,Marks830,NaN,...,Haverhill Massachusetts US,243 Bartoletti Neck Suite 63,Sturbridge,Massachusetts,Worcester County,1507.0,42.110219,-72.049690,870544.88,7831.98

In [32]:
df_payert.head()

,PATIENT,START_YEAR,END_YEAR,PAYER,OWNERSHIP
0,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983,2001,d47b3510-2895-3b70-9897-342d681c769d,Guardian
1,bd512b17-9e68-4b0e-8c5b-980007ecdee1,1991,2009,6e2f1a2d-27bd-3701-8d08-dae202c58632,Guardian
2,3603cd65-53a3-424b-bc82-76204326510d,1977,1995,d47b3510-2895-3b70-9897-342d681c769d,Guardian
3,ab3533aa-8230-4608-9f06-4f4673123620,1977,1993,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,Guardian
4,ab3533aa-8230-4608-9f06-4f4673123620,1994,1994,047f6ec3-6215-35eb-9608-f9dda363a44c,Self

In [33]:
df_payers.head()

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE,AMOUNT_COVERED,AMOUNT_UNCOVERED,REVENUE,...,UNCOVERED_ENCOUNTERS,COVERED_MEDICATIONS,UNCOVERED_MEDICATIONS,COVERED_PROCEDURES,UNCOVERED_PROCEDURES,COVERED_IMMUNIZATIONS,UNCOVERED_IMMUNIZATIONS,UNIQUE_CUSTOMERS,QOLS_AVG,MEMBER_MONTHS
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,383930.55,121256.52,1228500.0,...,0,171,0,311,0,199,0,17,0.498769,2568
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227,6135236.82,965366.75,8609000.0,...,0,8784,0,10753,0,3016,0,222,0.650829,35856
2,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,Medicaid,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,2420138.66,1526779.46,18140500.0,...,0,2561,0,47814,0,5706,0,499,0.829610,73356
3,d47b3510-2895-3b70-9897-342d681c769d,Humana,500 West Main St,Louisville,KY,40018.0,1-844-330-7799,805962.08,1030511.99,148945500.0,...,2117,0,2392,14794,746,7086,265,310,0.873476,88332
4,6e2f1a2d-27bd-3701-8d08-dae202c58632,Blue Cross Blue Shield,Michigan Plaza,Chicago,IL,60007.0,1-800-262-2583,1910621.16,1262347.01,161834400.0,...,0,2647,0,15600,0,7523,0,315,0.863032,90684

In [34]:
df_procedures.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2017-06-18,d171d808-1f31-4ad3-aba5-e03a2fa921c7,b86c6047-c25b-4b9c-90df-5712852902aa,430193006,Medication Reconciliation (procedure),744.90,NaN,NaN
1,2010-02-12,3603cd65-53a3-424b-bc82-76204326510d,ae97dfe0-c619-44c1-a687-f215d7fac984,23426006,Measurement of respiratory function (procedure),516.65,10509002.0,Acute bronchitis (disorder)
2,2009-12-14,bd512b17-9e68-4b0e-8c5b-980007ecdee1,6a6caa2e-961b-432b-8b6d-6e408ef5157f,14768001,Peripheral blood smear interpretation,516.65,NaN,NaN
3,2009-12-14,bd512b17-9e68-4b0e-8c5b-980007ecdee1,6a6caa2e-961b-432b-8b6d-6e408ef5157f,415300000,Review of systems (procedure),516.65,NaN,NaN
4,2009-12-14,bd512b17-9e68-4b0e-8c5b-980007ecdee1,6a6caa2e-961b-432b-8b6d-6e408ef5157f,430193006,Medication Reconciliation (procedure),565.52,NaN,NaN

In [35]:
df_providers.head()

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,UTILIZATION
0,0000016d-3a85-4cca-0000-000000000000,ef58ea08-d883-3957-8300-150554edc8fb,Beatriz277 Ortega866,F,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,478
1,0000016d-3a85-4cca-0000-00000000000a,69176529-fd1f-3b3f-abce-a0a3626769eb,Buford910 Feil794,M,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,1199
2,0000016d-3a85-4cca-0000-000000000014,5e765f2b-e908-3888-9fc7-df2cb87beb58,Therese102 Bahringer146,F,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,1348
3,0000016d-3a85-4cca-0000-00000000001e,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Cedrick207 Lind531,M,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,1923
4,0000016d-3a85-4cca-0000-000000000028,e002090d-4e92-300e-b41e-7d1f21dee4c6,José3 Valentín837,M,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,1098

In [37]:
#Combine/merge patients df with observations df
#need to rename PATIENT in observations to Id to match df_patients column header

df_observations.columns = ["DATE","Id","ENCOUNTER","CODE", "DESCRIPTION","VALUE", "UNITS", "TYPE"]
df_observations.columns

Index(['DATE', 'Id', 'ENCOUNTER', 'CODE', 'DESCRIPTION', 'VALUE', 'UNITS',
       'TYPE'],
      dtype='object')

In [39]:
#confirm that column was renamed as "Id"
df_observations.head()

,DATE,Id,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,8302-2,Body Height,177.2,cm,numeric
1,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,4.0,{score},numeric
2,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,29463-7,Body Weight,79.5,kg,numeric
3,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,39156-5,Body Mass Index,25.3,kg/m2,numeric
4,2011-06-12,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1c97b103-d387-4804-857d-5e5b719edb65,8462-4,Diastolic Blood Pressure,78.1,mm[Hg],numeric

In [41]:
#merge two dataframes
df_merged = pd.merge(df_patients, df_observations, on="Id")
df_merged.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,DATE,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,8302-2,Body Height,177.2,cm,numeric
1,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,4.0,{score},numeric
2,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,29463-7,Body Weight,79.5,kg,numeric
3,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,39156-5,Body Mass Index,25.3,kg/m2,numeric
4,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,8462-4,Diastolic Blood Pressure,78.1,mm[Hg],numeric

In [46]:
#action 1: reset the index to be the Id
pd.DataFrame(df_merged).set_index(pd.DataFrame(df_merged)['Id'])

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,DATE,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
Id,,,,,,,,,,,,,,,,,,,,,
d171d808-1f31-4ad3-aba5-e03a2fa921c7,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,8302-2,Body Height,177.2,cm,numeric
d171d808-1f31-4ad3-aba5-e03a2fa921c7,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,4.0,{score},numeric
d171d808-1f31-4ad3-aba5-e03a2fa921c7,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,29463-7,Body Weight,79.5,kg,numeric
d171d808-1f31-4ad3-aba5-e03a2fa921c7,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,39156-5,Body Mass Index,25.3,kg/m2,numeric
d171d808-1f31-4ad3-aba5-e03a2fa921c7,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-06-12,1c97b103-d387-4804-857d-5e5b719edb65,8462-4,Diastolic Blood Pressure,78.1,mm[Hg],numeric
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955b1b61-e049-4048-a42a-a45202060cf9,955b1b61-e049-4048-a42a-a45202060cf9,1951-05-24,NaN,999-70-1676,S99963308,X34566947X,Mr.,Joe656,Lynch190,NaN,...,-70.916574,1501104.56,7568.99,2015-05-24,NaN,QOL,QOL,0.9,{score},numeric
955b1b61-e049-4048-a42a-a45202060cf9,955b1b61-e049-4048-a42a-a45202060cf9,1951-05-24,NaN,999-70-1676,S99963308,X34566947X,Mr.,Joe656,Lynch190,NaN,...,-70.916574,1501104.56,7568.99,2016-05-24,NaN,QOL,QOL,0.9,{score},numeric
955b1b61-e049-4048-a42a-a45202060cf9,955b1b61-e049-4048-a42a-a45202060cf9,1951-05-24,NaN,999-70-1676,S99963308,X34566947X,Mr.,Joe656,Lynch190,NaN,...,-70.916574,1501104.56,7568.99,2017-05-24,NaN,QOL,QOL,0.9,{score},numeric
955b1b61-e049-4048-a42a-a45202060cf9,955b1b61-e049-4048-a42a-a45202060cf9,1951-05-24,NaN,999-70-1676,S99963308,X34566947X,Mr.,Joe656,Lynch190,NaN,...,-70.916574,1501104.56,7568.99,2018-05-24,NaN,QOL,QOL,0.9,{score},numeric
955b1b61-e049-4048-a42a-a45202060cf9,955b1b61-e049-4048-a42a-a45202060cf9,1951-05-24,NaN,999-70-1676,S99963308,X34566947X,Mr.,Joe656,Lynch190,NaN,...,-70.916574,1501104.56,7568.99,2019-05-24,NaN,QOL,QOL,0.9,{score},numeric

In [48]:
#action 2: find the oldest patient based on birthdate year
df_merged["BIRTHDATE"].min()

'1911-04-08'

In [62]:
#action 3: identify how many unique Ids (patients) there are in set
len(df_merged["Id"].unique())

1180

In [87]:
#action 4: subset by QOL 
query_QOL = df_merged["DESCRIPTION"] == "QOL" 
query_QOL.sample(50)

173593    False
220394    False
109455    False
303473    False
212101    False
299769    False
220546    False
254543    False
7449      False
195830    False
46670     False
17587     False
121582    False
245096    False
166085    False
69451     False
36544     False
294360    False
188371    False
295444    False
192398    False
134725     True
39858     False
229196    False
286580    False
31786     False
43923     False
135572    False
159710    False
146873    False
289815    False
207932    False
231571    False
101245    False
26069     False
193831    False
222939    False
193765    False
285916    False
296552    False
190259    False
143104    False
68465     False
191795    False
131658    False
216212    False
185176    False
172337    False
65101     False
39522     False
Name: DESCRIPTION, dtype: bool

In [88]:
#action 5: make new dataframe from subset
df_QOL = df_merged[query_QOL]
df_QOL.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,DATE,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
73,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2009-04-03,NaN,QOL,QOL,1.0,{score},numeric
74,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2010-04-03,NaN,QOL,QOL,1.0,{score},numeric
75,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2011-04-03,NaN,QOL,QOL,1.0,{score},numeric
76,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2012-04-03,NaN,QOL,QOL,1.0,{score},numeric
77,d171d808-1f31-4ad3-aba5-e03a2fa921c7,1983-04-03,NaN,999-83-6585,S99914532,X18544570X,Mr.,Marco Antonio298,Hurtado459,NaN,...,-70.928585,748893.99,2679.68,2013-04-03,NaN,QOL,QOL,1.0,{score},numeric

In [91]:
#Action 6: see the counts for different QOL scores to understand spread within this patient sample
df_QOL["VALUE"].value_counts()

1.0    5008
0.9    1856
0.8    1210
0.0     597
0.7     530
0.6     396
0.5     260
0.4     178
0.3     153
0.2     113
0.1      67
Name: VALUE, dtype: int64

**END**